.appHeader {
  background-color: #524a4d;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background-image: linear-gradient(
    45deg,
    rgba(75, 121, 161, 0.82) 40%,
    rgba(40, 62, 81, 0.84)
  );
  margin: 8px;
  border-radius: 10px;
  box-shadow: 0 0 14px -4px rgba(0, 0, 0, 0.57);
}
.header-logo {
  font-size: 45px;
  margin-left: 20px;
}
.header-logo::first-letter {
  color: red;
}
.menuItems {
  display: flex;
  align-items: stretch;
  height: 90px;
  margin-right: 20px;
}
.menuItem {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
  box-sizing: border-box;
}
.menuActiveItem {
  display: flex;
  align-items: center;
  font-size: 20px;
  padding: 10px;
  text-transform: uppercase;
  box-sizing: border-box;
  background: rgb(50, 236, 212);
  background: linear-gradient(
    0deg,
    rgba(50, 236, 212, 0.05) 0%,
    rgba(251, 251, 251, 0.06) 100%
  );
  border-bottom: 5px solid #b6f7ff;
}
.menuItem:hover {
  background: rgb(50, 236, 212);
  background: linear-gradient(
    0deg,
    rgba(50, 236, 212, 0.05) 0%,
    rgba(251, 251, 251, 0.06) 100%
  );
  border-bottom: 5px solid #b6f7ff;
}
