/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import '~@fortawesome/fontawesome-free/css/all.css';

@font-face {
  font-family: 'SanfriscoRUSWorld-Medium';
  src: url('../resources/fonts/SanfriscoRUSWorld-Medium.woff2') format('woff2'),
    url('../resources/fonts/SanfriscoRUSWorld-Medium.ttf') format('ttf'),
    url('../resources/fonts/SanfriscoRUSWorld-Medium.woff') format('woff');
}

@font-face {
  font-family: 'BureauAP';
  src: url('../resources/fonts/BureauAP.woff2') format('woff2'),
    url('../resources/fonts/BureauAP.ttf') format('ttf'),
    url('../resources/fonts/BureauAP.woff') format('woff');
}

@font-face {
  font-family: 'LeagueGothic';
  src: url('../resources/fonts/LeagueGothic.woff2') format('woff2'),
    url('../resources/fonts/LeagueGothic.ttf') format('ttf'),
    url('../resources/fonts/LeagueGothic.woff') format('woff');
}

@font-face {
  font-family: 'RollestonText-Italic';
  src: url('../resources/fonts/RollestonText-Italic.woff2') format('woff2'),
    url('../resources/fonts/RollestonText-Italic.ttf') format('ttf'),
    url('../resources/fonts/RollestonText-Italic.woff') format('woff');
}

@font-face {
  font-family: 'Flaticon';
  src: url('../resources/fonts/Flaticon.eot');
  src: url('../resources/fonts/Flaticon.eot?#iefix') format('embedded-opentype'),
    url('../resources/fonts/Flaticon.woff2') format('woff2'),
    url('../resources/fonts/Flaticon.woff') format('woff'),
    url('../resources/fonts/Flaticon.ttf') format('truetype'),
    url('../resources/fonts/Flaticon.svg#Flaticon') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* source-sans-pro-200 - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 200;
  src: url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-200.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro ExtraLight'), local('SourceSansPro-ExtraLight'),
    url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-200.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-200.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-200.woff')
      format('woff'),
    /* Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-200.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-200.svg#SourceSansPro')
      format('svg'); /* Legacy iOS */
}

/* source-sans-pro-300 - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 300;
  src: url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-300.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Light'), local('SourceSansPro-Light'),
    url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-300.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-300.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-300.woff')
      format('woff'),
    /* Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-300.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-300.svg#SourceSansPro')
      format('svg'); /* Legacy iOS */
}

/* source-sans-pro-200italic - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 200;
  src: url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-200italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro ExtraLight Italic'),
    local('SourceSansPro-ExtraLightItalic'),
    url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-200italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-200italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-200italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-200italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-200italic.svg#SourceSansPro')
      format('svg'); /* Legacy iOS */
}

/* source-sans-pro-300italic - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 300;
  src: url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-300italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Light Italic'), local('SourceSansPro-LightItalic'),
    url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-300italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-300italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-300italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-300italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-300italic.svg#SourceSansPro')
      format('svg'); /* Legacy iOS */
}

/* source-sans-pro-regular - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-regular.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Regular'), local('SourceSansPro-Regular'),
    url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-regular.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-regular.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-regular.woff')
      format('woff'),
    /* Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-regular.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-regular.svg#SourceSansPro')
      format('svg'); /* Legacy iOS */
}

/* source-sans-pro-600italic - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 600;
  src: url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-600italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro SemiBold Italic'),
    local('SourceSansPro-SemiBoldItalic'),
    url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-600italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-600italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-600italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-600italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-600italic.svg#SourceSansPro')
      format('svg'); /* Legacy iOS */
}

/* source-sans-pro-600 - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-600.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro SemiBold'), local('SourceSansPro-SemiBold'),
    url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-600.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-600.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-600.woff')
      format('woff'),
    /* Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-600.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-600.svg#SourceSansPro')
      format('svg'); /* Legacy iOS */
}

/* source-sans-pro-italic - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  src: url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Italic'), local('SourceSansPro-Italic'),
    url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-italic.svg#SourceSansPro')
      format('svg'); /* Legacy iOS */
}

/* source-sans-pro-700 - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-700.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold'), local('SourceSansPro-Bold'),
    url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-700.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-700.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-700.woff')
      format('woff'),
    /* Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-700.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-700.svg#SourceSansPro')
      format('svg'); /* Legacy iOS */
}

/* source-sans-pro-700italic - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 700;
  src: url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-700italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Bold Italic'), local('SourceSansPro-BoldItalic'),
    url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-700italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-700italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-700italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-700italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-700italic.svg#SourceSansPro')
      format('svg'); /* Legacy iOS */
}

/* source-sans-pro-900 - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 900;
  src: url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-900.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Black'), local('SourceSansPro-Black'),
    url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-900.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-900.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-900.woff')
      format('woff'),
    /* Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-900.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-900.svg#SourceSansPro')
      format('svg'); /* Legacy iOS */
}

/* source-sans-pro-900italic - cyrillic_latin_latin-ext */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 900;
  src: url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-900italic.eot'); /* IE9 Compat Modes */
  src: local('Source Sans Pro Black Italic'), local('SourceSansPro-BlackItalic'),
    url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-900italic.eot?#iefix')
      format('embedded-opentype'),
    /* IE6-IE8 */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-900italic.woff2')
      format('woff2'),
    /* Super Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-900italic.woff')
      format('woff'),
    /* Modern Browsers */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-900italic.ttf')
      format('truetype'),
    /* Safari, Android, iOS */
      url('../resources/fonts/source-sans-pro-v13-cyrillic_latin_latin-ext-900italic.svg#SourceSansPro')
      format('svg'); /* Legacy iOS */
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  @font-face {
    font-family: 'Flaticon';
    src: url('../resources/fonts/Flaticon.svg#Flaticon') format('svg');
  }
}

[class^='flaticon-']::before,
[class*=' flaticon-']::before,
[class^='flaticon-']::after,
[class*=' flaticon-']::after {
  font-family: Flaticon, sans-serif;
  font-size: 20px;
  font-style: normal;
}

.flaticon-multimedia::before {
  content: '\f100';
}
.flaticon-edit::before {
  content: '\f101';
}
.flaticon-exit::before {
  content: '\f102';
}
.flaticon-help::before {
  content: '\f103';
}
.flaticon-graph::before {
  content: '\f104';
}

$scrollbar-width: 10px;
$chat-thread-bgd-color: rgba(25, 147, 147, 0.2);
$base-color: #6d898c;
$base-color-focus: #8ba7aa;
$base-color-border: #2e484b;

body {
  background: #fff url('../resources/bg.jpg') no-repeat fixed center;
  background-size: cover;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

//body {
//  height: 100vh;
//  background-color: #232c39;
//  background-image: linear-gradient(
//    45deg,
//    rgba(0, 216, 255, 0.5) 10%,
//    rgba(0, 1, 127, 0.7)
//  );
//  font-family: Arial, Helvetica, Helvetica Neue, serif;
//  overflow-y: hidden;
//  overflow-x: hidden;
//  padding: 0;
//  margin: 0;
//}

#root {
  height: 100vh;
  box-sizing: border-box;
}

.catalog-container {
  height: calc(100% - 220px);
  overflow-y: auto;
  width: 98%;
  box-sizing: border-box;
  margin: 10px 15px 0 15px;
  padding: 15px;
}

.settings-container {
  box-sizing: border-box;
  margin-top: 30px;
  padding: 15px;

  div {
    font-size: 18px;
  }

  .ant-row {
    margin-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed rgba(240, 255, 255, 0.25);
  }
}

.loading-spinner {
  width: 100%;
}

::-webkit-scrollbar {
  width: $scrollbar-width;
}

::-webkit-scrollbar-track {
  border-radius: $scrollbar-width;
  background-color: rgba(25, 147, 147, 0.1);
}

::-webkit-scrollbar-thumb {
  border-radius: $scrollbar-width;
  background-color: $chat-thread-bgd-color;
}
.catalog-itemlist {
  display: grid;
  grid-auto-columns: max-content;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.questions-block {
  margin-top: 20px;

  .ant-divider-inner-text {
    color: #232c39;
    background-color: rgba(240, 248, 255, 0.27);
    border-top: 1px solid rgba(240, 248, 255, 0.27);
    border-radius: 15px;
    text-transform: uppercase;
    font-weight: bold;
  }

  .ant-btn {
    background-color: rgba(98, 37, 230, 1);
    height: 40px;
    font-size: 18px;
    margin-bottom: 10px;
    border-color: rgba(98, 37, 230, 0.2);

    &:hover {
      background-color: rgb(136, 50, 255);
    }
  }

  .ant-table-placeholder {
    display: none;
  }

  .ant-table-tbody {
    background-color: rgba(222, 247, 255, 0.51);
    font-weight: bold;

    .anticon {
      font-size: 22px;
      margin-left: 15px;
    }

    & .ant-table-row {
      border-bottom: 1px dotted #e8e8e8;
    }
  }
}

.ql-syntax {
  background-color: #9a9a9e;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 20px;
  margin-right: 40px;
}

.catalog-item {
  display: flex;
  background: #fff;
  border-radius: 6px;
  color: #232c39;
  min-height: 100px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  overflow: hidden;
  position: relative;

  .catalog-item-header {
    font-family: 'LeagueGothic', sans-serif;
    font-size: 24px;
    color: #023859;
  }

  .catalog-item-container {
    box-sizing: border-box;
    padding: 10px 10px 20px 20px;
    width: calc(100% - 40px);
    font-family: 'RollestonText-Italic', sans-serif;
    font-size: 14px;
    background: rgba(98, 37, 230, 0.2);
    background: linear-gradient(
      15deg,
      rgba(98, 37, 230, 0.2) 0%,
      #fffef0 16%,
      #fffef0 100%
    );

    &:hover {
      background: #40a9ff;
    }
  }

  & .catalog-item-actions {
    width: 40px;
    background: linear-gradient(#de685e, #ee786e);
    border-left: aliceblue dotted 2px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .catalog-edit-item-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 12px 10px 20px 20px;

    .catalog-item-header-input {
      font-family: 'LeagueGothic', sans-serif;
      font-size: 24px;
      color: #023859;
    }

    .catalog-item-header-textarea {
      font-family: 'RollestonText-Italic', sans-serif;
      font-size: 14px;
      color: #023859;
    }

    .catalog-item-edit-footer {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
    }
  }
}

.catalog-itemadd {
  display: flex;
  flex-direction: column;
  padding: 12px 10px 20px 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  border-radius: 2px;
  color: #fff;
  min-height: 100px;
  box-sizing: border-box;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);

  .catalog-itemadd-header-input {
    font-family: 'LeagueGothic', sans-serif;
    font-size: 24px;
    color: #fdfffd;
    background: rgba(240, 255, 255, 0);
  }

  .catalog-itemadd-header-textarea {
    font-family: 'RollestonText-Italic', sans-serif;
    font-size: 14px;
    color: #fdfffd;
    background: rgba(240, 255, 255, 0);
  }

  .catalog-itemadd-edit-footer {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.catalog-pane {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.question-list {
  display: flex;
  flex-direction: column;

  .question-item {
    margin-bottom: 15px;
    background-color: #b3abae;

    .question-item-title {
      background-color: #232c39;
    }
  }
}

.quill {
  font-size: 1rem;
}

.answer-selectors {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ant-input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid $base-color;
  border-radius: 0;
}

.module-addEdit {
  .ant-modal-body > div {
    margin-bottom: 20px;
  }

  .ql-toolbar {
    background-color: #f2f2f2;
  }

  .ql-editor {
    min-height: 100px;
  }

  .answer-select {
    display: flex;
    justify-content: center;
  }

  .ant-radio-wrapper {
    .ant-input {
      display: inline-flex;
      margin-bottom: 10px;
    }
  }

  .checkbox-answer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    label > span:last-child {
      display: inline-flex;
      align-items: center;
      width: 90%;
    }

    .ant-checkbox-wrapper + .ant-checkbox-wrapper {
      margin-left: 0;
      margin-top: 10px;
    }
  }

  .ant-modal-header {
    //background-color: $base-color;
  }

  .anticon-delete {
    font-size: 20px;
  }

  .anticon-plus-square {
    font-size: 18px;
  }
}

.ant-table-wrapper {
  //background-color: #fff;
}

.quiz-isready-title {
  color: white;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.36);
  position: absolute;
  min-height: 25vh;
  width: 40vw;
  top: calc(50% - 10vh);
  left: calc(50%);
  padding: 30px;
  box-sizing: border-box;
  border-radius: 5px;
  box-shadow: 10px 10px 20px rgba(28, 26, 34, 0.3);
  -webkit-transform: rotateY(-13deg) translateZ(400px);
  transform: perspective(400px) rotateY(-23deg);
  border: rgba(255, 255, 255, 0.63) 5px solid;
  font-size: calc(1.2vh + 1.6vw);
  font-family: 'BureauAP', sans-serif;
  text-transform: uppercase;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.action__btn {
  z-index: 4;
  width: calc(100%);
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.action__btn .action__btn__btn {
  width: 100%;
  text-align: center;
  z-index: 3;
  height: 65px;
  line-height: 60px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 0;
  border: rgba(255, 255, 255, 1) 5px solid;
  box-sizing: border-box;
  font-family: 'BureauAP', sans-serif;
  font-size: 1.2em;
  color: white;
  position: relative;
  display: inline-block;
  text-decoration: none;
  transition: all 0.15s ease-Out;
}

.action__btn__slide_efx {
  background-color: #ff2513;
  width: 100%;
  height: 65px;
  position: absolute;
  z-index: 2;
  left: -100%;
  transition: all 0.15s ease-Out;
  bottom: 0;
  top: -2px;
}
.action__btn__slide_efx-green {
  background-color: #3a962c;
}

.action__btn:hover .action__btn__slide_efx {
  left: 0;
}

.action__btn:hover .action__btn__btn {
  color: #cbf0ff;
}

.action {
  margin-top: 2%;
  position: relative;
  display: inline-block;
  width: calc(100% - 60px);
}

.quiz-isready-img {
  width: 40vw;
  position: absolute;
  top: calc(50% - 20%);
  left: calc(50% - 40vw);
}

.quiz-containter {
  height: calc(100% - 150px);
  overflow-y: auto;
  width: 98%;
  box-sizing: border-box;
  margin: 10px 15px 0 15px;
  padding: 15px;
}

.question-module {
  padding: 20px;
  background-color: whitesmoke;
  box-sizing: border-box;
  border-radius: 15px;

  .question-module-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .question-module-descr {
    font-family: 'Source Sans Pro', sans-serif;
  }
}

.question-module-answer-container {
  margin-top: 20px;
  padding: 20px;
  background-color: #272e35;
  box-sizing: border-box;
  border-radius: 15px;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #f0f8ff;

  .question-module-answer-title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 20px;
  }

  textarea {
    font-size: 16px;
    border-radius: 10px;
    margin-bottom: 15px;
    padding: 10px;
  }
}

.answer-modal-title {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 10px;
  margin-top: 20px;
}

.answer-modal-user {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #91d5ff;
  border-radius: 10px;
  padding: 10px;
}

.answer-modal-correct {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  margin-bottom: 20px;
  background-color: #ccccd0;
  border-radius: 10px;
  padding: 10px;
}

.answer-module-rate {
  font-size: 40px;
  color: #fa14e5;
}

.answer-module-rate-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  font-size: 22px;
}
